

.newTitle{
    font-family: bitter;
    font-size: 1.4rem;
    font-weight: 800;
}

.newContent{
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.etc{
    margin-bottom: 0rem;
    font-size: 1.6rem;
    color: #007bff;
}

.activePage{
    background-color:  rgba(2, 41, 104, 0.5);
}