body {
    -webkit-font-smoothing: subpixel-antialiased;
    font-size: 100%;
    padding-bottom: 8rem;
    padding-top: 65px;
}

.dropdown-menu {
    position: relative;}

.navbar-right{margin-right: 2rem;}
.resultCardBody{
    padding: 0rem;
}

.MB0{
    margin-bottom: 0px;
}

.MB05{
    margin-bottom: 0.5rem;
}
.MB1{
      margin-bottom: 1rem;
}
.ML05{
    margin-left: 0.5rem;

}
.bgGrey{
    background-color: gray;
}
.MR1{
    margin-right: 1rem;
}
.ML1{
    margin-left: 1rem;
}
.MR05{
    margin-right: 0.5rem;
}
.MT05{
    margin-top: 0.5rem;
}
.MT1{
    margin-top: 1rem;
}

.PT1{
    padding-top: 1rem;
}
.PT05{
    padding-top: 0.5rem;
}

.PL1{
    padding-left: 1rem;
}






.carachLeft{
    border-radius: 25%;
    background: #007bff;
    color: snow;
    padding: 0.25rem;
}
.resultTitle{
    font-family: bitter;
    font-size: 1.2rem;
    font-weight: bold;

}
.ColorW{
    color: snow;
}
.colorBlue{
    color: #007bff;
}
.F12{
    font-size: 1.2rem;
}

.F16{
    font-size: 1.6rem;
}

.bold{
    font-weight: bold;
}

.btn span.glyphicon {
	opacity: 0;
}
.btn.active span.glyphicon {
	opacity: 1;
}


.NavText > li > a{
    color: snow;
    margin: 0.25rem;
}

.errorMessage{
    border-style: solid;
    border-radius: 10px;
    background-color:  rgba(2, 41, 104, 0.5);
    color: snow;
    font-weight: 600;
}

.message{
    background-color:  rgba(2, 41, 104, 0.5);
    border-style: solid;
    border-radius: 10px;
    text-align: center;
    border-width: thin;
    padding: 0.2rem;
    margin-top: 0.3rem;
    color: snow;
    font-family: bitter;
    font-weight: 600;
}

.padding0{
    padding: 0rem;
}
.itemSelect {
    background-color: rgba(2, 41, 104, 0.6);
    color: #FEF9FF;
    font-weight: bold;
}

.itemSelect:hover {
    background-color: rgba(2, 41, 104, 0.6);
    color: #FEF9FF;
    font-weight: bold;
}
/*a.searchOption:hover {
    background-color: rgba(2, 41, 104, 0.6);
}*/
.scroll_300 {
    height:200px;
    overflow-y: scroll;
}

.scroll_300::-webkit-scrollbar{
	-webkit-appearance: none;
}

.scroll_300::-webkit-scrollbar:vertical {
    width: 12px;
}

.scroll_300::-webkit-scrollbar:horizontal {
    height: 12px;
}

.scroll_300::-webkit-scrollbar-thumb {
    max-height: 50px;
    background-color: rgba(0, 0, 0, .5);
    border-radius: 10px;
    border: 2px solid #ffffff;

}

.scroll_300::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #ffffff;
}

.dropdown-menu li a {white-space: normal;}


@media only screen and (min-width: 858px){
    .dropdown-menu>li>a.subNavItem{padding-left: 0.8rem;}
    .dropdown-menu>li.subLi{padding: 0.4rem;}
    .nav{font-size:  1.4rem;}
    .fontaweSpan{font-size:  1.4rem;}
    .nav>li>a{padding-right: 0.5rem;
				padding-left:0.5rem;}
    p{font-size: 1.1rem;}
    tr{font-size: 1rem;}
    .dropNav{margin-right: 2rem;}
    .selectP{font-size: 1.2rem;}
    .PagButton{
        font-size: 1.2rem;
        padding-right: 1rem;
        padding-left: 1rem;
        margin-right: 1rem;
    }

}

@media only screen and (min-width: 768px) and (max-width: 857px){
    .nav{font-size:  1.1rem;}
    .fontaweSpan{font-size: 1.1rem;}
    .dropdown-menu>li>a.subNavItem{padding-left: 0.8rem;}
    .dropdown-menu>li.subLi{padding: 0.6rem;}
    .nav>li>a{padding-right: 0.5rem;
				padding-left:0.5rem;}

    .btn{font-size:  1.1rem;}
    .dropdown-menu{padding: 0px;}
	p{font-size: 1.1rem;}

	tr{font-size: 1rem;}
    .dropNav{margin-right: 2rem;}
    .ButtonFont{font-size: 1.2rem;}
    .selectP{font-size: 1.4rem;}

    .PagButton{
        font-size: 1.2rem;
        padding-right: 1rem;
        padding-left: 1rem;
        margin-right: 1rem;
    }
}

@media only screen and (min-width: 425px) and (max-width: 767px){
    /*.nav>li>a.NavItem{padding: 1.5rem;}*/
    .nav>li>a.NavItem{padding-left: 1rem;}
    .nav>li{margin-top:0.5rem; }
    .dropdown-menu>li>a.subNavItem{padding: 1rem;}
	.open .dropdown-menu>li>a.subNavItem{padding: 1.5rem;}
    .dropdown-menu>li.subLi{padding: 0.6rem; font-size: 1.2rem;}
    .nav{font-size:  1.4rem;}

    .mr-auto{margin-right: 3rem;}
    p{font-size: 1.1rem;}

	tr{font-size: 1rem;}
    .btn{font-size:  1.1rem;}
    .fontaweSpan{font-size: 1.2rem;}
    .ButtonFont{font-size: 0.85rem;}
    .selectP{font-size: 1.8rem;}
    .PagButton{
        font-size: 1.2rem;
        padding-right: 1rem;
        padding-left: 1rem;
        margin-right: 1rem;
    }
}


@media only screen and (max-width: 424px){
    .nav>li>a.NavItem{padding-left: 1rem;}
    .nav>li{margin-top:0.5rem; }
    .dropdown-menu>li>a.subNavItem{padding: 1.5rem;}
    .open .dropdown-menu>li>a.subNavItem{padding: 1.5rem;
											margin-right:0.5rem;}
    .dropdown-menu>li.subLi{padding: 0.6rem;
                            font-size: 1.2rem;}
    .nav{font-size:  1.4rem;
		 margin-top: 2rem;}

    p{font-size: 1.1rem;}

	.btn{font-size: 0.85rem;
		margin-top: 4px;}

	tr{font-size: 1rem;}

    .fontaweSpan{font-size: 1.2rem;}

    .ButtonFont{font-size: 0.85rem;}
    .selectP{font-size: 2rem;}
    .PagButton{
        font-size: 1.2rem;
        padding-right: 1rem;
        padding-left: 1rem;
        margin-right: 1rem;
    }
}