body {
    -webkit-font-smoothing: subpixel-antialiased;
    font-size: 100%;
    padding-bottom: 8rem;
    padding-top: 65px;
}

.resultCardBody{
    padding: 0rem;
}

.carachLeft{
    border-radius: 25%;
    background: #007bff;
    color: snow;
    padding: 0.25rem;
}
.resultTitle{
    font-family: bitter;
    font-size: 1.2rem;
    font-weight: bold;

}
.ColorW{
    color: snow;
}
.colorBlue{
    color: #007bff;
}
.F12{
    font-size: 1.2rem;
}

.MT1{
    margin-top: 1rem;
}

.MB1{
      margin-bottom: 1rem;
}

.btn span.glyphicon {
	opacity: 0;
}
.btn.active span.glyphicon {
	opacity: 1;
}


.NavText > li > a{
    font-size: 2rem;
    color: snow;
    margin: 0.25rem;
}

.errorMessage{
    border-style: solid;
    border-radius: 10px;
    background-color:  rgba(2, 41, 104, 0.5);
    color: snow;
    font-weight: 600;
}

.message{
    background-color:  rgba(2, 41, 104, 0.5);
    border-style: solid;
    border-radius: 10px;
    text-align: center;
    border-width: thin;
    padding: 0.2rem;
    margin-top: 0.3rem;
    color: snow;
    font-family: bitter;
    font-weight: 600;
}

.padding0{
    padding: 0rem;
}
.itemSelect {
    background-color: rgba(2, 41, 104, 0.6);
    color: #FEF9FF;
    font-weight: bold;
}

.itemSelect:hover {
    background-color: rgba(2, 41, 104, 0.6);
    color: #FEF9FF;
    font-weight: bold;
}
/*a.searchOption:hover {
    background-color: rgba(2, 41, 104, 0.6);
}*/
.scroll_300 {
    height:200px;
    overflow-y: scroll;
}

.scroll_300::-webkit-scrollbar{
	-webkit-appearance: none;
}

.scroll_300::-webkit-scrollbar:vertical {
    width: 12px;
}

.scroll_300::-webkit-scrollbar:horizontal {
    height: 12px;
}

.scroll_300::-webkit-scrollbar-thumb {
    max-height: 50px;
    background-color: rgba(0, 0, 0, .5);
    border-radius: 10px;
    border: 2px solid #ffffff;

}

.scroll_300::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #ffffff;
}
